/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.author {
    position: absolute;
    bottom: 24px;
    left: 36px;
    padding-top: 8px;
    border-top: thin solid black;
}

q {
  margin-bottom: 42px;
}

.playIFrame {
  width: 440px;
  height: 300px;
}

.angularjshome {
  iframe {
    width: 1000px;
    height: 600px;
  }
}

#hello-app {
  label {
    font-size: 1.0em;
    margin-bottom: 5px;
    color: #333333;
    display: block;
  }

  input {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    margin-bottom: 9px;
    padding: 4px;
  }

  hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #A9A9A9 -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 2px 0;
    margin: 18px 0;
  }

  h1 {
    font-weight: bold;
    font-size: 1.8em;
  }
}

#hello-app-dive-into-code-editor {
  a {
    font-size: 12px;
    cursor: pointer;
  }

  .navbar-inverse .navbar-nav > li > a {
    color: white;
    background-color: transparent;
  }

  .active {
    background-color: #080808;
    color: #FFFFFF;
  }

  iframe {
    width: 750px;
    height: 500px;
    overflow: hidden;

  }
}

#security, #does-every-app-need-backend {
  ul {
    margin-top: 36px;
  }

  li {
    font-size: 0.8em;    
  }
}

.github {
  font-size: 0.7em;
}

