<div id="impress" ng-controller="PresentationController">

    <!--
        
        Here is where interesting thing start to happen.
        
        Each step of the presentation should be an element inside the `#impress` with a class name
        of `step`. These step elements are positioned, rotated and scaled by impress.js, and
        the 'camera' shows them on each step of the presentation.
        
        Positioning information is passed through data attributes.
        
        In the example below we only specify x and y position of the step element with `data-x="-1000"`
        and `data-y="-1500` attributes. This means that **the center** of the element (yes, the center)
        will be positioned in point x = -1000px and y = -1500px of the presentation 'canvas'.
        
        It will not be rotated or scaled.
        
    -->
    <div id="front" class="step slide" data-x="-1000" data-y="-1500">
        <q>Backend-less web apps with <b>AngularJS</b> and <b>Firebase</b></q>
        <div class="author">
	        <h3><b>Alexander Burakevych</b></h3>
	        <h3>AngularJS Sydney meetup 22.08.2013</h3>
	    </div>
    </div>

    <div id="content" class="step slide" data-x="0" data-y="-1500">
        <q>What are we going to cover:</q>
        <ul>
            <li>What is Firebase?</li>
            <li>Does every app require a backend?</li>
            <li>Building a scalable collaborative <strong>Auction</strong> app with <strong>AngularJS</strong> and <strong>Firebase</strong></li>
            <li>Security concerns</li>
        </ul>
    </div>

    <div id="what-is-firebase" class="step slide" data-x="1000" data-y="-1500">
        <q><p>Firebase:</p><strong>Realtime</strong> syncronization service</q>
        <ul>
            <li>Build apps fast - <strong>no backend required</strong></li>
            <li>Data persystence in <strong>realtime</strong></li>
            <li>With authentication and security rules, serves as the <strong>complete backend</strong></li>
        </ul>
    </div>

    <div id="drawing-frames" class="step" data-x="0" data-y="0" data-scale="4">
        <p><span>no more words - lets try it in action</span><p>
        <div class="drawing-frames">
            <iframe class="playIFrame noborder" src="/supporting-apps/firebase-drawing.html"></iframe>
            <iframe class="playIFrame noborder" src="/supporting-apps/firebase-drawing.html"></iframe>
        </div>
        <span class="footnote"><sup>*</sup>Data is stored at <a href="https://r5i250z6cdd.firebaseio-demo.com" target="_blank">https://r5i250z6cdd.firebaseio-demo.com</a></span>
    </div>

    <div id="does-every-app-need-backend" class="step" data-x="2450" data-y="3000" data-rotate="45" data-scale="2">
        <p>Does <strong>every</strong> app<br/>
        require a <strong>backend</strong>?</p>

        <ul>
            <li>Most of the apps do simple data transfers and persistence of state</li>
            <li>Most mobile apps have all business <b>logic</b> on the client side</li>
            <li>With HTML5, CSS3 and JavaScript MVC business logic moves to the frontend</li>
            <li>Backends play less significant role</li>
        </ul>
    </div>

    <div id="baas" class="step" data-x="2450" data-y="3000" data-z="-2000" data-rotate="45" data-scale="1">
        <p>Apps that will benefit most<br/>
        from using <strong>BaaS</strong></p>

        <ul>
            <li>CRUD style apps - perfect candidates</li>
            <li>Collaborative and realtime apps: games, chats, editors, radio</li>
            <li>Parts of <b>enterprise</b> apps - big opportunities</li>
            <li>Apps that don't have a backend, but whant to enhance UX</li>
        </ul>
    </div>


    <div id="baas-shifts" class="step" data-x="2450" data-y="3000" data-z="-5000" data-rotate="45" data-scale="1">
        <p>Backend as a Service <b class="positioning">shifts</b> the role of app developers, it can <b>enable</b> them to concentrate on <b>innovating</b></p>
    </div>

    
    <div id="how-firebase-work-with-ng" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="2">
        <p>So <strong>how</strong> Firebase<br/>
        works out with AngularJS&nbsp;&nbsp;<img src="img/angular-logo.png"> ?<br/>
        How complicated is it to <strong>wire</strong> Firebase <strong>backend</strong>?
        </p>
    </div>

    <div id="two-way-binding" class="step" data-x="2850" data-y="11000" data-z="-40000" data-scale="1" data-rotate="90">
        <p>2 way binding</p>
        <img class="binding" src="img/2-way-binding.png">
    </div>

    <div id="three-way-binding" class="step" data-x="2850" data-y="12000" data-z="-38000" data-scale="1" data-rotate="90">
        <p>3 way binding</p>
        <img class="binding" src="img/3-way-binding.png">
    </div>
    
    <div id="hello-app" class="step" data-x="3500" data-y="5000" data-rotate="180" data-scale="3">
        <p>AngularJS - <b>supersonic</b> JavaScript MVW <b>framework</b></p>
        <div class="well" ng-controller="HelloAngularFireController">
            <div>
                <label>Name:</label>
                <input type="text" ng-model="yourName" placeholder="Enter a name here">
                <hr>
                <h1>Hello {{yourName}}!</h1>
            </div>
        </div>
    </div>

    <div id="hello-app-dive-into-code" class="step" data-x="6325" data-y="5325" data-z="-80000" data-rotate="300" data-scale="1">
        <p>Firebase + AngularJS = <b>AngularFire</b></p>
        <div id="hello-app-dive-into-code-editor">
            <div class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li ng-class="isActiveTab('html')"><a ng-click="activeTab='html'">HTML</a></li>
                    <li ng-class="isActiveTab('app')"><a ng-click="activeTab='app'">app.js</a></li>
                    <li ng-class="isActiveTab('controllers')"><a ng-click="activeTab='controllers'">controllers.js</a></li>
                </ul>
            </div>
            
            <iframe class="noborder" ng-show="activeTab=='html'" src="/supporting-apps/hello-angularfire-app.html"></iframe>
            <iframe class="noborder" ng-show="activeTab=='app'" src="/supporting-apps/hello-angularfire-app-app.html"></iframe>
            <iframe class="noborder" ng-show="activeTab=='controllers'" src="/supporting-apps/hello-angularfire-app-ctrl.html"></iframe>
        </div>
    </div>

    <div id="something-more-complicated" class="step" data-x="3500" data-y="-850" data-rotate="270" data-scale="6">
        <p>Lets take a look at <b>something</b> more <b class="scaling">complicated</b> than just a 'Hello' app</p>
    </div>

    <div id="imagination" class="step" data-x="6100" data-y="-300" data-scale="6">
        <p>TravelBids - a <b>colaborative</b> and <b class="imagination">scalable</b> auction app</p>
    </div>

    <div id="what-about-security" class="step" data-x="6100" data-y="1800" data-rotate="20" data-scale="1">
        <q>No backend?! What about <b>security</b>?</q>
        <img src="img/computer-hacker.jpg">
    </div>

    <div id="security" class="step" data-x="6600" data-y="2200" data-rotate="110" data-scale="1">
        <q>AngularFire user <b>authentication</b> and <b>security</b></q>
        <ul>
            <li>Login via JSON Web Tokens</li>
            <li>Supports Facebook, Twitter, Github, Persona and custom auth</li>
            <li>Declarative security rules on the Firebase server</li>
        </ul>
    </div>

    <!--
        
        So to make a summary of all the possible attributes used to position presentation steps, we have:
        
        * `data-x`, `data-y`, `data-z` - they define the position of **the center** of step element on
            the canvas in pixels; their default value is 0;
        * `data-rotate-x`, `data-rotate-y`, 'data-rotate-z`, `data-rotate` - they define the rotation of
            the element around given axis in degrees; their default value is 0; `data-rotate` and `data-rotate-z`
            are exactly the same;
        * `data-scale` - defines the scale of step element; default value is 1
        
        These values are used by impress.js in CSS transformation functions, so for more information consult
        CSS transfrom docs: https://developer.mozilla.org/en/CSS/transform
        
    -->
    <!--
    <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
    </div>
    -->

    <div id="me" class="step slide" data-x="-2000" data-y="-1500">
        <q>Alexander Burakevych <p><a href="mailto:abu@livestormer.com">abu@livestormer.com</a></p></q>
        <p class="github">This presentation in Github:<a href="https://github.com/oburakevych/angular-firebase-presentation">github.com/oburakevych/angular-firebase-presentation</a></p>
        <p class="github">TravelBids in Github:<a href="https://github.com/oburakevych/travelbids-frontend">github.com/oburakevych/travelbids-frontend</a></p>
        <p class="github">Travelbids online:<a href="http://demo.travel-bids.com.au/app/index.html">demo.travel-bids.com.au/app/index.html</a></p>
        <div class="author">
            <p>
                <a href="http://au.linkedin.com/in/alexanderburakevych" target="_blank">
                    <img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Alexander Burakevych's profile on LinkedIn">
                </a>
            </p>
            <p><a href="mailto:oburakevych@gmail.com">oburakevych@gmail.com</a></p>
            <p>@oburakevych</p>
        </div>
    </div>


</div>

<!--
    
    Hint is not related to impress.js in any way.
    
    But it can show you how to use impress.js features in creative way.
    
    When the presentation step is shown (selected) its element gets the class of "active" and the body element
    gets the class based on active step id `impress-on-ID` (where ID is the step's id)... It may not be
    so clear because of all these "ids" in previous sentence, so for example when the first step (the one with
    the id of `bored`) is active, body element gets a class of `impress-on-bored`.
    
    This class is used by this hint below. Check CSS file to see how it's shown with delayed CSS animation when
    the first step of presentation is visible for a couple of seconds.
-->
<div class="hint">
    <p>Use a spacebar or arrow keys to navigate</p>
</div>